[2015-09-10 06:31] ibireme opened #3 "blend over 貌似有些问题"
![img_2215](https://cloud.githubusercontent.com/assets/839283/9781548/35661bb0-57c8-11e5-9c5d-ccec9e76a0fe.PNG)
如图，上面是APNGKit的实现，下面是ImageIO的实现。

[2015-09-10 06:34] onevcat commented on #3
是指边缘锯齿和颜色有点偏差么？

[2015-09-10 06:36] ibireme commented on #3
对，边缘貌似是没处理好，和 Firefox、ImageIO 的渲染不太一样。

[2015-09-10 06:37] onevcat commented on #3
可能是计算那边精度处理的问题，我有空的话会去看看。感谢提出。

[2015-10-21 08:28] yurijmi opened #4 "APNGImageView is not recognized by Xcode 7 in storyboard"
Autocomplete does not work and Xcode doesn't allow me to use it at all because of that.

![2015-10-21 11 26 18](https://cloud.githubusercontent.com/assets/785492/10631431/b020c22c-77e6-11e5-92b1-eefe09d4227f.png)

Although I can use APNGKit's functions in code.

Am I doing something wrong? Or is there a bug in your code?

[2015-10-21 10:10] yurijmi opened #5 "Annoying warning about broken Objective-C bridge"
```Umbrella header for module 'Kingfisher' does not include header 'Kingfisher.h'```

This only occurs if using code from master branch. Version in CocoaPods doesn't have that warning.

[2015-10-21 10:12] yurijmi commented on #5
Wrong repo, sorry.

[2015-10-21 10:12] #5 closed

[2015-10-21 12:40] onevcat commented on #4
I guess it is an Xcode bug instead of APNGKit.

Did you try type `APNGImageView` as the Class and `APNGKit` as the Module directly? It should work if you setup the framework correctly.

[2015-10-21 14:17] yurijmi commented on #4
Same with module. Autocomplete doesn't work and Xcode doesn't accept APNGKit directly.
I believe I set up everything correctly. Like I said earlier, everything works from code.

[2015-10-21 14:46] onevcat commented on #4
What do you mean by "Xcode doesn't accept APNGKit directly"? Do you get a compile error when using "APNGImageView" and "APNGKit"?

I just had a try on using it from IB. Sure, the auto completion does not work for me, but I could get things work correctly by just setting them to "APNGImageView" and "APNGKit", then doing regular Ctrl+Drag IBOutlet things and setup the apng images without issue.

[2015-10-21 14:50] yurijmi commented on #4
By directly I mean typing everything without autocomplete. Xcode clears the field after I go out of it.

[2015-10-21 14:52] onevcat commented on #4
:[

Xcode, good job!

May I know how did you integrate APNGKit into your project? By Carthage or CocoaPods? I tried Carthage just now and it seems OK.

[2015-10-21 14:56] yurijmi commented on #4
CocoaPods

[2015-10-21 15:12] onevcat commented on #4
Cool. I can reproduce it in CocoaPods. Let me see what I can do...

[2015-10-21 15:15] onevcat commented on #4
Oh, I know.

Instead of using an image view, you need a `UIView` for it. Since `APNGImageView` is NOT a subclass of `UIImageView`.

[2015-10-21 15:16] yurijmi commented on #4
What's a I thought. I'll try it now.

[2015-10-21 15:20] yurijmi commented on #4
Yeah, it works for View. Thanks for your support!
But why not UIImageView for parent? Is it not working for APNG?
AnimatedGIFImageSerialization and FLAnimatedImage is based of a UIImageView and working without problems.

[2015-10-21 15:37] onevcat commented on #4
It might be better to be a subclass of `UIImageView`. I will reconsider it and give it a fix if necessary. Thank you.

[2015-10-21 15:39] yurijmi commented on #4
What do you think? Maybe just extend UIImageView and UIImage like AnimatedGIFImageSerialization did?
Or is it a bad thing to do?

[2015-10-21 15:42] onevcat commented on #4
The initializer of Swift would be a pain, if we want to keep the same signage for APNGImageView as the regular image view. Since APNGKit is written in Swift, its type is not as flexible as which in Objective-C.
Anyway, I think there would be a solution for it (the worst is some API adjustment).

I will have a look at it later.

[2015-10-21 15:53] yurijmi commented on #4
Thanks a ton! Man, you rock!

[2015-10-22 14:55] onevcat commented on #4
@yurijmi Just had a try on changing to image view, and I found it might break quite a lot of current APIs if I do so. In short word, I decide to keep it a subclass of `UIView` now.

I recalled why it is a `UIView` as well. At the very beginning, `APNGImageView` was designed to use the same APIs as regular `UIImageView` for connivence. This made it not quite suitable to be a subclass of `UIImageVie

[2015-10-27 16:47] yannickschuchmann opened #6 "EXC_BAD_ACCESS on setting image"
Hey,
many thanks for this project!

Can you give some instructions about how I can set my image for instantiating a APNGImage?

Usually I go with UIImage(named: "my-image-name") and it will go and get the correct resource from Images.xcassets.
Is APNGImage(named: String) looking for resources inside Images.xcassets, similiar to UIImage(named: String)?

I even tried to do work around and adding my

[2015-10-27 17:16] yannickschuchmann commented on #6
well.. nevermind.
Sorry for that issue, thought it was somewhere related to the library.
After recreating UIView and IBOutlet it works like a charm. :)

[2015-10-27 17:16] #6 closed

[2015-11-12 13:20] #4 closed

[2016-02-09 21:05] tettoffensive opened #10 "apng's with transparent alpha, appear blown out"
Loading in an apng appears to just assign alpha values of 1 or 0. Any alpha values above 0 appear to be clamped to 1. When I look at the apng's in Finder/Preview on a mac, the alpha works fine.

[2016-02-22 11:28] inamiy opened #11 "Please use https-URL for `libpng-apng` git-submodule."
I just found `url = git@github.com:onevcat/libpng.git` in `.gitmodules` and prefer changing this to public https-URL so that it will work for unconfigured CI servers as well :wink:

[2016-02-22 14:21] onevcat commented on #11
Oh, yes you are right.

[2016-02-23 04:52] inamiy commented on #11
Thanks!
Just saw bc43b22c51811cdefe34bfd9d5e87e3b9f7e2c9f, so I will close this issue.

[2016-02-23 04:52] #11 closed

[2016-03-03 01:57] rickysou opened #13 "animation time, no animation on iphone"
could i set the total animation time? the total duration time of the apng is 1.5s and when i play the animation on iphone ,  there is not any animation . when run in simulator , have animation but seems weird, what is the reason? the duration of the apng is too short?

[2016-03-03 02:57] onevcat commented on #13
May I get the file you are using?

[2016-03-03 07:19] rickysou commented on #13
sure, great thanks for giving a hand.

2016-03-03 10:57 GMT+08:00 Wei Wang <notifications@github.com>:

[2016-03-03 07:42] rickysou commented on #13
change the filename extension to .apng but not .png, solved the problem

[2016-03-03 08:56] 690130229 opened #14 "[Huge memory use]When to play a 7M apng file it will cost 2.2G memory."
Hi Thanks to providing this framework.
But I ran into a problem that when starting animation it will cost a lot memory.
Could you find why?

Thanks
Leslie

[2016-03-21 23:42] pcperini commented on #10
:+1:

[2016-07-26 08:40] mvyrko opened #17 "Add support xCode 8"
Now, I'm working in xCode 8 and your pod is unbuildable.

[2016-08-13 02:12] RomeHein commented on #17
Yeah would be great to have it on swift 3!

[2016-08-23 14:28] GDXRepo commented on #17
Yep, the same problem. Please update your framework to Swift 3, at least in the separated project. I really need your framework's functionality in my current project.

[2016-09-07 06:12] #13 closed

[2016-09-12 10:31] lumenlunae commented on #17
Hello! I'd like to let the owner know I'm very thankful for this project--am really looking forward to seeing writing/saving functionality.

I've started work on a swift 3 branch here: https://github.com/lumenlunae/APNGKit/tree/swift3 it builds and runs all the demos and passes all the tests. :) This is my first time working with C-interop though, so I don't know if this is properly way to handle

[2016-09-12 10:32] GDXRepo commented on #17
Exciting news! I'll try it in my project today.

[2016-09-12 12:14] onevcat commented on #17
@lumenlunae Wow, great work!

I created a [swift3 branch](https://github.com/onevcat/APNGKit/tree/swift3). If you'd like, you could send a pull request and I will check it and merge.

Thanks!

[2016-09-15 21:44] GDXRepo opened #21 "Invalid transparency (compression off, APNG source is valid)"
Can't understand the problem. I try to load simple APNG image, it is valid (I've checked it via several browsers). And when I look for it with debug mode enabled, I see normal image too. But on the Simulator and on a real device I see image without transparency, where all semi-transparent pixels are set to white. I can't understand what's the reason of this. Compression is OFF in Xcode, file sourc

[2016-09-15 21:50] GDXRepo commented on #17
Issue can be closed, working good with Xcode 8 GM Seed & Swift 3.

[2016-09-16 01:22] #17 closed

[2016-09-20 04:37] GDXRepo commented on #21
No solutions? Or at least advices, what I've done wrong) Maybe invalid images (who knows?) - then give me please any valid animated png, if possible, to check this issue again.

[2016-09-28 14:02] harit opened #22 "Issue in compiling with xcode 8 - for legacy support - swift 2.3"
Hi!

I am trying to use the library. I get error for below:
`/APNGKit/Frame.swift:75:73: Nil is not compatible with expected argument type 'CGDataProviderReleaseDataCallback' (aka '@convention(c) (UnsafeMutablePointer<()>, UnsafePointer<()>, Int) -> ()')`

Tried this for most versions of library - 0.1.0 to 0.1.4.

Please suggest way to deal with this. My project is in Swift 2.3, so need library co

[2016-09-29 07:12] lumenlunae commented on #22
Have you tried using version 0.2.2? It's in the readme that it supports 2.2 (not sure on 2.3)

[2016-09-29 09:15] harit commented on #22
yes, used the exact version via pods and also set Use Legacy Swift Language Version flag to YES.

[2016-09-30 01:21] onevcat commented on #22
:( Currently no Swift 2.3 support. I will try to add it later today.

[2016-09-30 15:30] onevcat commented on #22
I pushed the change into the swift2.3 branch. Now you can use this to integrate APNGKit to your Swift 2.3 project.

[code]

[2016-10-05 07:38] #22 closed

[2016-10-21 01:22] onevcat commented on #21
Should be fixed in version 0.3.1 (as well as in swift2.3 branch).

[2016-10-21 01:22] #21 closed

[2016-10-21 01:25] onevcat commented on #10
Should be fixed in version 0.3.1 (as well as in swift2.3 branch).

[2016-10-21 01:25] #10 closed

[2016-11-09 20:02] shshalom opened #24 "Add animation complete block or delegate"
This is a great lib. it would be great if you add an animation complete handler.

[2016-12-16 06:47] onevcat commented on #24
Added in version 0.4.0.

[2016-12-16 06:47] #24 closed

[2016-12-16 06:48] onevcat commented on #14
In version 0.4.0, I added a way to load the image "progressively", which should solve the large image loading problem.

[2016-12-16 06:48] #14 closed

[2016-12-21 07:20] xiles opened #29 "fatal error: The APNG meta should exists."
App crashes with this fatal error message.
APNGImage() should return nil instead crashing an app.

[2016-12-21 07:38] onevcat commented on #29
Fixed in 0.4.1.

[2016-12-21 07:38] #29 closed

[2017-01-05 20:28] JGVB opened #30 "APNGImageView content mode"
I don't see a "contentMode" for APNGImageView as UIImageView has.  I know this is a UIViewSubclass, but how would I replicate this behavior so the image doesn't stretch?

[2017-01-06 17:12] JGVB commented on #30
UIView has content mode

[2017-01-06 17:12] #30 closed

[2017-01-08 05:13] JGVB opened #31 "Animation stops when scrolling"
I have an APNGImageView in a collection view and whenever I start scrolling, the animation pauses.  Once I stop scrolling, the animations speeds up and appears to catch up to where it would have been.  How do I make it so the animation doesn't stop when scrolling?

[2017-01-08 05:23] JGVB commented on #31
AllowAnimationInscroll Found it. Wish I could delete issues!

[2017-01-08 05:23] #31 closed

[2017-01-19 15:20] JGVB commented on #29
@onevcat I'm getting a crash when I create an APNGImage with data and scale.

It's crashing on this line:
https://github.com/onevcat/APNGKit/blob/252ae33500e8faabb67caeea4a93ea7e50ae98fc/APNGKit/Disassembler.swift#L460

[2017-01-19 15:34] JGVB opened #32 "Crash when I create an APNGImage with data and scale (On Clean)"
It's crashing on this line:
https://github.com/onevcat/APNGKit/blob/252ae33500e8faabb67caeea4a93ea7e50ae98fc/APNGKit/Disassembler.swift#L460

It's a valid png image

"bad adaptive filter value" is logged out
Other times "libpng error: IDAT: CRC error" is logged out

Context: Many APNGImageViews are being used in collection view cells (reused)

[2017-01-20 04:58] onevcat commented on #32
Does this happen 100% for a specified PNG file, or is it random?

[2017-01-20 14:30] JGVB commented on #32
@onevcat   It's random on different PNG files.  I have a feeling it could have to do with cell reuse, but I could be wrong.

[2017-02-13 08:50] revolter commented on #31
@JGVB, What is `AllowAnimationInscroll`?

[2017-02-17 08:09] d1248966459 commented on #22
喵神,我需要在swift2.3开发的私有库中依赖APNGKit，但像这样没有release的版本似乎是没办法用

这种方式引入的，可否考虑下提交一个swift2.3的版本？麻烦啦

[2017-02-17 08:44] onevcat commented on #22
I added a tag `0.2.3` for it.

[2017-02-17 08:44] d1248966459 commented on #22
thanks

[2017-02-18 14:43] nlucky commented on #22
喵神请教下，我试了下

发现还是不行的。我看cocoapods里有类似的issue，但并没有给出一个比较好的解决方法，推荐的还是用一个release的版本来添加依赖关系。请问我该如何利用tag，来实现在私有库中添加依赖关系呢？

[2017-02-18 14:45] d1248966459 commented on #22
喵神请教下，我试了下

发现还是不行的。我看cocoapods里有类似的issue，但并没有给出一个比较好的解决方法，推荐的还是用一个release的版本来添加依赖关系。请问我该如何利用tag，来实现在私有库中添加依赖关系呢？

[2017-02-20 03:03] onevcat commented on #22
@d1248966459 I also published the 0.2.3 to CocoaPods, now you should be able to use it as a dependency. :)

https://github.com/CocoaPods/Specs/tree/master/Specs/0/6/4/APNGKit/0.2.3

[2017-02-20 03:05] d1248966459 commented on #22
非常感谢

[2017-02-23 04:10] samsonjs opened #34 "setjmp is no longer available in Swift 3.1 and isn't coming back"
Disassembler.swift uses setjmp which doesn't compile anymore. I don't understand this code well enough to propose a solution but with some direction I can give it a shot.

https://github.com/mattgallagher/CwlPreconditionTesting/issues/7

[2017-02-23 06:15] onevcat commented on #34
Thanks for letting me know that.

0.4.4 was released for it.

[2017-02-23 06:15] #34 closed

[2017-02-23 15:44] samsonjs commented on #34
Excellent. Thank you!

[2017-03-03 03:58] d1248966459 opened #35 "短时间内重复销毁创建ApngImageView会导致crash"
修改demo中的代码，执行下面的操作，必会crash
[code]

[2017-03-14 06:09] onevcat commented on #35
If you want to use `imageView` like that, you need to change

`@IBOutlet weak var imageView: APNGImageView!`

to

`@IBOutlet var imageView: APNGImageView!` by removing the weak reference. Or the image view will be released as soon as you initialize it.

[2017-03-14 06:09] #35 closed

[2017-03-17 10:28] d1248966459 commented on #35
谢谢回复，我尝试了下在v5.0中修改code为  var imageView: APNGImageView! 但执行click 方法时依旧会出现crash问题，看log问题应该是处在解码时。测试情况比较极端，应该不影响使用。

[2017-03-24 03:50] marcuswu0814 opened #37 "Project Bitcode issue"
In out project, we setting the `OTHER_CFLAGS` to `-fembed-bitcode` but it show error:

[code]

Is any setting missing or APNGKit didn't support bitcode?

[2017-03-24 13:12] onevcat commented on #37
@marcuswu0814

APNGKit supports bitcode. If you are using Carthage to build the framework, it might be related to this issue. https://github.com/Carthage/Carthage/issues/535

I'll try to add it now and please let me know the result.

[2017-03-24 13:15] onevcat commented on #37
@marcuswu0814

Oh, after some further investigating, it seems that Carthage has resolved it already: https://github.com/Carthage/Carthage/pull/839

Maybe you are using a very old version of Carthage? Could you try to upgrade your Carthage and try again?

[2017-03-24 13:17] marcuswu0814 commented on #37
Sorry, I using cocoapod to install APNGKit, so if I try to using Carthage, maybe I can fix this issue?

[2017-03-24 13:18] onevcat commented on #37
Maybe, I am not sure about it since there is no such report before. But it's worth to try.

[2017-03-24 13:20] marcuswu0814 commented on #37
@onevcat Thanks you very much and I will try to using Carthage to build framework later. 👍

[2017-03-24 16:26] marcuswu0814 commented on #37
I try to using Carthage to add framework to our project. (In workplace's another framework project)

But face this issue:

[code]

Could you give me some tips? I try lots of ways to solve this issue. :(
Like copy framework, adding Runpath Search Paths... etc.

[2017-03-25 07:52] onevcat commented on #37
It means you are not copying the framework to app bundle. You need to follow the Carthage instruction to add a framework copy phase (with carthage's copy framework command line) to use it.

[2017-03-27 02:12] marcuswu0814 commented on #37
I think I already did that, like following setting:

1. In project `build phases` tab
2. Adding a `run script phases`
3. Adding `/usr/local/bin/carthage copy-frameworks`
4. Input files `$(SRCROOT)/Carthage/Build/iOS/APNGKit.framework`

and

1. In project `build phases` tab
2. Adding a `copy files phases`
3. Destination set value to `Frameworks`
4. Name adding a `APNGKit.framework` and Code sign on

[2017-03-27 02:53] onevcat commented on #37
Just had another read of your error message. It seems that you are trying to use APNGKit in your own framework target, instead of an application target?

I believe it is not the correct way to "embed" a dynamic framework into another framework. The depended framework should also be loaded dynamically, by the final application target.

[2017-03-27 11:32] marcuswu0814 commented on #37
Finally, my team leader try to add `APNGKit` into another share framework target (in our Workplace’s another project) by `CocoaPod`, which didn’t be used by `Share extension target`.

I didn’t know why and can’t ensure is that the key point cause this issue. But I think if I add it into above frameworks by `Carthage`, it may also work.

If you need much more information about this issue, I can try

[2017-03-27 11:42] onevcat commented on #37
@marcuswu0814 Thank you for your feedback. Glad to hear that.

Since there is no other report on this, I think I would just close it now. If anyone else encountered the similar issue, just reopen it and I will dig into it deeper.

[2017-03-27 11:42] #37 closed

[2017-06-08 07:28] marcuswu0814 opened #42 "Adding APNGKit project to workplace and build with Xcode 9 beta got error"
As title, I build APNGKit project by self, and try to build my project with Xcode 9 beta, it got error like this:

[code]

Should I change any setting after I upgrade Xcode? My project is using objective-c.

EDIT:

I try to set my app target's setting to:

[code]

It can build success, but run time crash.

[2017-06-12 02:51] marcuswu0814 commented on #42
Finally, I refined our project structure, I install APNGKit by CocoaPod and set `ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = YES` in app target, and didn't change any setting about CocoaPod's target.

It work well, so I will close this issue.

[2017-06-12 02:51] #42 closed

[2017-06-26 05:34] ltebean opened #43 "Do you know any android lib that supports playing APNG well?"
Hi, we are using your APNGKit in our iOS project, and it works very well. But for Android,
we just tried some libs listed here: https://github.com/search?l=Java&q=apng&type=Repositories&utf8=%E2%9C%93, and none of them does the job well. Can you recommend us some good android libs to play APNG, thanks!

[2017-06-27 01:26] onevcat commented on #43
Hey,

I am not an Android developer at all and I cannot give you any suggestion on it. Sorry!

[2017-06-27 01:26] #43 closed

[2017-08-06 20:42] knishant90 opened #44 "How to use `addArrangedSubview` while working with uistackview"
When using the `addArrangedSubview` to uistackview it sets the width and height by default to 0. Is there a way I can call this function instead of doing `addSubview` ?

[2017-08-30 18:08] chaseacton opened #45 "Add support for tvOS"
I would like to be able to use APNGKit on tvOS.

[2017-09-03 07:27] onevcat commented on #45
It should not be hard to support tvOS since both using UIKit. However, currently I've no time for it now. Any pull request on this would be warmly welcomed.

[2017-09-07 09:18] pablogeek opened #47 "Crash when load a normal png"
I'm trying to load a normal png and it crashes ```libpng error: CgBI: unhandled critical chunk```

Is there any way to check if the image is an APNG or normal PNG?

[2017-09-07 11:06] onevcat commented on #47
APNGKit should work properly for a normal PNG. It could happen if the PNG file itself not respect PNG specification.

May I get the image which causes this problem so I could have a look?

[2017-09-14 09:20] hrstruggle1 opened #48 "deinit crash for iOS"
hi 猫神

我在 deinit 时手动 调用stopAnimating(),  偶现 crash , 概率比较高,  控制台可以明显的看到释放代码执行了,  我将 APNGImageView 用于 CollocationView 中

释放的代码:
deinit {
        stopAPNG()
    }

func stopAPNG() {
        if let arFilterAPNGView = arFilterAPNGView {
            GCDUtils.main({
                print("\(Thread.current) ---------------- arFilterAPNGView")
                arFilterAPNGView.stopAnimating()

[2017-09-15 12:43] onevcat commented on #48
Not sure what happened. Could you try [this branch](https://github.com/onevcat/APNGKit/tree/fix/clear-layer-content) or  to see whether it could solve it?

BTW, there should be no need to call `stopAnimating` or set `nil` if you could ensure that the container could be deinited correctly. Similar as other regular views, the `APNGView` could dealloc itself when there is no strong reference on it.

[2017-10-03 23:27] aodhol opened #50 "Scale not preserved when I init with scale"
The input image has a scale of 2 (I initialise with this scale), but when the next frame is requested, the scale isn't preserved?

I'm using 0.6.3.

[2017-10-04 01:56] #50 closed

[2017-10-13 17:33] YKV opened #54 "returns image is nil"
I have an apng image that has 200 frames and extension of pang image is .png
Whenever I do:

apngView = APNGImageView(image: image)

image is nil even though the image exists in assets

I am using Xcode9

[2017-10-14 07:48] onevcat commented on #54
Please check this: https://github.com/onevcat/APNGKit#png-compression

[2017-10-22 12:08] aodhol opened #55 "libpng error in console"
iOS 11.0.1 Seeing 'libpng warning: fcTL: CRC error' repeatedly in Xcode console

[2017-11-07 02:51] Desgard opened #56 "Repeatedly push an view controller whose view owned a apng animation view and pop it, app will crash."
This is the occasional problem. And we detected it by our apm system. And finally positioned to the **APNGKit**. I test the APNGKit's demo, it also has the same problem.

This is the error symbol stack log of *APNGKitDemo* proj.

[code]

[2017-11-07 02:52] Desgard commented on #56
This is the export log file.

[APNGDemo-iOS  07-11-2017, 10-28.crash.zip](https://github.com/onevcat/APNGKit/files/1448513/APNGDemo-iOS.07-11-2017.10-28.crash.zip)

[2017-11-07 04:35] onevcat commented on #56
This issue exists deeply in the CoreGraphics. I didn't see any problem in APNGKit for now, so it seems there is little we could do it yet. But any further information on this is welcome and it might help to dig into the problem.

I tried on both iOS device and simulator, and reproduce it once in a real device (after several hundreds of pushing and popping). However, I can never reproduce this prob

[2017-11-08 13:49] fumiyasac commented on #54
I cause the same issue, too.
In XCode9, I can't find COMPRESS_PNG_FILES setting.
So, I don't know how to solve this.

[2017-11-09 01:50] onevcat commented on #54
@fumiyasac You should not use it in an image asset set. Please add your APNG files to your project directly. In fact, I suggest to use another extension like "apng" instead of disabling PNG compression since you might still want it for other png images.

Maybe this post would be a help: https://stackoverflow.com/questions/33082838/compress-png-files-missing-from-build-settings

[2017-11-09 01:51] #54 closed

[2017-11-09 11:04] dionysiusmarquis opened #57 "Carthage in Objective-C context"
Hey,

I'm trying to use APNGKit with Carthage in Objective-C context. I can't use Swift because its an Unity project. Is this combination possible? I imported `<APNGKit/APNGKit-Swift.h>` but the header file does only expose the default `init` and `initWithDecoder` methods. I tried `[[APNGImage alloc] contentsOfFile:@""]` wich throws `No visible @interface for 'APNGImage' declares the selector 'con

[2017-11-09 15:02] onevcat commented on #57
I am not sure but maybe it is related to the default value of `@objc` infer in Swift 4. In the latest Swift 4, this inference is off by default, it might cause the functions and properties not available in Objective-C. Maybe try to turn the "Swift 3 @objc inference" to on in the build setting of APNGKit might solve your problem.

See [this post](https://useyourloaf.com/blog/objc-warnings-upgrading

[2017-11-09 20:00] dionysiusmarquis commented on #57
Yes, that would actually work for now. One thing is that `carthage update` will check out APNGKit `*** Checking out APNGKit at "1.0.0"` and reset the settings before build. The other thing is that Xcode will throw Swift 4 deprecation warnings:
[code]

[code]

Sounds like this workaround won't be available forever.

[2017-11-13 01:56] Desgard commented on #57
@dionysiusmarquis I also get this problems. And I write a view to carry the `APNGImageView` in Swift. And its interface can support ObjC. 😄

[2017-11-23 08:59] TenderChang opened #58 "libpng error in console: libpng warning: iCCP: known incorrect sRGB profile"
I have met an issue that an error shows in console:
libpng warning: iCCP: known incorrect sRGB profile
and it will increase the memory & CPU's usage, and then crash :(
can you help me with this?

[2017-11-29 02:21] dengcqw opened #59 "这个库不能用"
用严重的崩溃和不能暂停动画

[2017-11-29 02:24] onevcat commented on #59
We are using it in our commercial project without problem. This post has little help and is not reporting any concrete issue. So I am closing it.

[2017-11-29 02:24] #59 closed

[2017-11-29 13:03] onevcat commented on #58
Hi, @TenderChang

Thanks for reporting this. Could you upload or give a link to the image which causing this issue?

[2017-12-12 04:55] TenderChang commented on #58
Hi, @onevcat
Thanks for your responding.
I found out that my app will compress those images, that's why the error shows in console.
And I used @autoreleasepool to solve the memory issue.

[2017-12-13 12:04] #58 closed

[2017-12-14 18:07] YKV opened #60 "APNGImage always returns nil"
a line of code below always returns nil even though I passed apng image:

`var image = APNGImage(named: "your_image")`

Thanks

[2017-12-15 01:13] onevcat commented on #60
Please make sure you have valid APNG file in your project (and not in image assets). Maybe [this](https://github.com/onevcat/APNGKit#png-compression) would help.

[2018-01-31 12:01] 1jacobb1 commented on #60
after changing the file.png file to file.apng, apngimage still nil

[2018-02-21 05:13] 1jacobb1 opened #63 "App crash when showing apng image view on each collection view cell"
I created a collection view, each collection cell contains apng image view, after scrolling the collection view from left to right the app crashes.

**ERROR**
#0. Crashed: com.apple.main-thread
0  libsystem_platform.dylib       0x1bbf06c6 _platform_memmove + 37
1  CoreGraphics                   0x1d5639af decode_data + 10762
2  CoreGraphics                   0x1d6e9471 img_decode_read + 226
3  Cor

[2018-02-22 01:23] #63 closed

[2018-02-23 07:59] 1jacobb1 commented on #56
I also encountered this kind of crash regarding the CoreGraphics

[2018-03-14 08:32] kkdayitbobson opened #64 "APNGImage(named: "") will crash"
This will cause crash on some real device
        weatherIcon.image = APNGImage(named: "")

[2018-03-14 10:55] jaumevn opened #65 "Unexpected output result for specific apng files"
Hello, I've been using the library for quite a long time, and it's great. Recently I found an issue with specific apng files which leads to and unexpected output when loading the file with the library. There is no different method when loading apng files, it just happen sometimes to specific files.

Here you have a video of the glitch (look at the vertical line created between the letter t and y):

[2018-03-23 08:52] onevcat commented on #65
The file in this zip turns to be a GIF instead of APNG.

[2018-03-26 07:10] jaumevn commented on #65
@onevcat the apng file is inside the zip file. It is named as `source.apng`.
<img width="882" alt="screenshot 2018-03-26 09 09 01" src="https://user-images.githubusercontent.com/884454/37891661-5fe07d34-30d5-11e8-9793-ba0fb6502c7f.png">

[2018-03-29 06:44] d1248966459 opened #69 "长时间停在后台，在返回app，apng动画速度飞快。。。"
使用的时最新的demo，看起来是动画的timer延迟了一段时间调用引起的。

[2018-05-01 12:28] #64 closed

[2018-05-21 07:29] Cierpliwy commented on #56
We had crashes with _platform_memmove function present in call stack. It was due to usage of GCDTimer and happened only after deallocation of APNGImageView. We migrated to CADisplayLink in our fork and didn't see any issues so far: https://github.com/Polidea/APNGKit.

[2018-05-23 13:26] zgpeace commented on #57
你好，我的工程是objc，按照你说的 Maybe try to turn the "Swift 3 @objc inference" to on in the build setting of APNGKit might solve your problem.， 还是找不到方法 contentsOfFile: 。
我是通过Carthage生成的framework，
头文件引用：
 #import "MyProject-Swift.h"
#import <APNGKit/APNGKit-Swift.h>

Product Module Name: Should be your app target's name
Defines Module: YES
Embedded Content Contains Swift: YES (deprecated)
请用 ALWAYS EMBED SWIFT

[2018-07-03 17:42] ConfusedVorlon opened #72 "Won't build with xcode 10.0 beta 2"
[code]

[2018-07-06 12:26] carlosDigio opened #73 "Animation faster after send app background"
I tested this lib and while showing an apng and send app to background, when come back again the animation goes faster.

Video:
https://youtu.be/tYIKYy4dQ7A

[2018-07-09 05:36] Leo7654 commented on #73
Please check this https://github.com/onevcat/APNGKit/pull/62 .

[2018-07-09 05:37] w4-hojin commented on #73
Please check this https://github.com/onevcat/APNGKit/pull/62

[2018-07-09 08:17] carlosDigio commented on #73
Pull request #74

[2018-07-17 14:06] #73 closed

[2018-08-01 22:26] chaseacton commented on #72
I get this occasionally. Cleaning the project always fixes it for a while.

[2018-08-24 02:56] iFallen commented on #48
push 后 pop有一定概率Crash,找了好几天，问题不好定位，暂时放弃使用了。

[2018-08-28 09:25] gliucn opened #78 "Hidden image starts to animate when back to foreground"
commit 5f1e32b2391663ac558cced0a5a6de96a9c931bc causes this issue: if an image is hidden and the app enters background, when entering foreground again, the image appears and animates. This commit does not covers the case if isHidden == true.

[2018-09-07 12:38] onevcat commented on #72
It seems to be a bug of Xcode in early betas. Now everything should work well in the latest beta.

[2018-09-07 12:38] #72 closed

[2018-09-09 09:13] onevcat commented on #78
Does this work for this hidden case? https://github.com/onevcat/APNGKit/pull/77

[2018-10-06 06:45] brightsider opened #80 "Podspec"
Update podspec for Swift 4.2

[2018-10-16 08:00] SuperBeagleDog opened #81 "So, How does it be played on android platform?"
Here is the way to do that: https://github.com/sahasbhop/apng-view.
Why not put it on README?

[2018-10-17 13:36] onevcat commented on #81
Thanks for the link. It looks nice. However, I am not an expert on Android. After all, it is an iOS repo. So I am not sure about whether it would be a good idea to mention it here. Anyway, thanks for sharing it :P

[2018-10-17 13:36] #81 closed

[2018-11-07 12:40] sidepelican opened #83 "Crash when Objective-C dealloc"
Sometimes my app crashes when removing `APNGImageView` in Objective-C coded `UIViewController` .
In case of Swift, that's not happen.

I think this workaround is not enough for Objective-C.
https://github.com/onevcat/APNGKit/blob/ccad7588e3428bfcd53862f457c5bda61f298e9f/APNGKit/APNGImageView.swift#L168-L169
In Objective-C, sometimes `deinit` is not called when removing the `APNGImageView` from the

[2018-11-14 05:17] amedakedo commented on #80
Was wondering if there is a specific reason as to why podspec is not updated for Swift 4.2 yet?

As a workaround I'm currently using the Swift 4.2 update by setting the specific commit in my Podfile
like so
[code]

but instead I would like to be able able to just set it normally like
[code]

Thanks in advance 🙏

[2018-11-14 05:43] onevcat commented on #80
Too busy recently. I would take a look it tonight maybe.

[2018-11-14 13:52] onevcat commented on #80
Tag 1.1.0 was created, with podspec updated for Swift 4.2.

Sorry for the delay!

[2018-11-14 13:52] #80 closed

[2018-12-12 12:57] sidepelican opened #84 "Animation get too fast when back from background"
Notification sometimes not working. We need a fundamental modification

[2018-12-28 14:13] #84 closed

[2019-03-10 04:35] TyrantBoy opened #87 "How do I use this with iMessage Stickers?"
MSStickers object expects an URL. How do I use this with the iMessage Stickers?

[2019-03-13 16:45] traditionalistic opened #88 "Image isn't showing up"
I tried both programmatically and storyboard ways, image simply not on screen. Although if I change APNGImage and APNGImageView to UIImage and UIImageView respectively, it works (w/o animation, of course). What could it be? (APNGKit v1.1.0)

[2019-03-26 07:02] traditionalistic commented on #88
It helped, thanks for response!

[2019-03-26 07:02] #88 closed

[2019-03-27 12:32] halpz opened #89 "no functions visible in objective C"
I can't see any init functions for either APNGImage or APNGImageView when trying to use in objective-c

I can see the Class name, but can't access any properties or functions
(using swift 4.2 in OBjective C project)

[2019-03-28 15:26] onevcat commented on #89
From Swift 4, the `@objc` is now not implicitly added to `NSObject`, so the related things will not be exposed to Objective-C now.

This framework does not design for or tested with Objective-C context.

[2019-03-28 15:26] #89 closed

[2019-03-28 15:43] halpz commented on #89
so it no longer supports objective-c?

should maybe update the readme then

[2019-03-28 15:44] onevcat commented on #89
I have no time for adding Objective-C support back right now since I only use it in my Swift projects. But any contributing on this topic is welcomed.

[2019-08-24 05:50] sepehrrezaei commented on #47
i have this problem
this is the png file :
![2](https://user-images.githubusercontent.com/54465154/63633150-932afb00-c658-11e9-8e25-7888dc6dae1b.png)
and the screen shot of error :
<img width="912" alt="Screen Shot 2019-08-24 at 10 19 38 AM" src="https://user-images.githubusercontent.com/54465154/63633160-b81f6e00-c658-11e9-8dd7-2cdeaf864499.png">

[2019-08-31 04:14] TungVuDuc2805 opened #94 "Can I load APNG image from URL ?"

[2019-09-12 06:03] eitanaviv opened #95 "Swift 5 upgrade"
Using Xcode 11 GM with Swift 5 tells me to convert APNGKit to support Swift 5.
I can see only one line of code needs to be changed, will we see an update for that?
Thanks!

![image](https://user-images.githubusercontent.com/35567702/64757919-1d6dcd00-d53c-11e9-94bc-17984a265d6f.png)

[2019-09-15 15:33] onevcat commented on #95
Hey,

Maybe soon!

[2019-12-12 23:38] michaelamici commented on #95
do it now you lazy bum

[2020-02-20 04:38] imbrig opened #96 "The first frame is skipped (even when it's not set to skip) when calling startAnimating"
The first frame is skipped (even when it's not set to skip) when calling startAnimating and when calling stopAnimating and then startAnimating again, the frame when stop was called is shown briefly.
Attached is a test image with frames red[1], yellow[2], green[3], blue[4].
![test_sequence](https://user-images.githubusercontent.com/47464835/74901354-78131c80-5357-11ea-816a-e7dc72514ea4.png)

I reso

[2020-02-26 13:38] onevcat commented on #96
@imbrig Thanks for reporting this! I think you are correct and the fix works. I will check if there is a better way to do it. If no, I will send a PR with your fix and release an update soon!

Thank you!

[2020-02-26 14:04] onevcat commented on #96
The `firstFrameHidden` should be handled inside the `image.next(currentIndex)` and internal disassembler. So we do not need to calculate the frame index here.

[2020-02-28 02:34] BlankConan opened #99 "An unexpected version directory `libpng-apng`"
mac version : 10.14.5
xcode version : 11.3(11C29)
pod version : 1.8.4

mac的工程，开发语言objective-c

 pod install error：

Inspecting targets to integrate
  Using `ARCHS` setting to build architectures of target `Pods-TYTYTY`:
  (``)

Finding Podfile changes
  A APNGKit

Resolving dependencies of `Podfile`
[!] An unexpected version directory `libpng-apng` was encountered for the `~/.cocoapods/repos/onevc

[2020-03-03 04:53] imbrig commented on #96
@onevcat That's great! Looking forward to the next release!

[2020-03-08 11:37] #96 closed

[2020-04-17 09:53] J-Arji opened #102 "can use for ARKit"

[2020-07-06 11:04] uhooi commented on #94
@TungVuDuc2805
You can load APNG Image from `URL` by adding an initializer to `APNGImage` with Extension.

[code]

Usage:

[code]

ref: https://github.com/uhooi/APNGSample/blob/master/APNGSample/APNGImage%2BURL.swift

[2020-07-28 08:14] MonyneathMol opened #103 "libpng error: attempt to png_read_frame_head() but no acTL present"
libpng error: attempt to png_read_frame_head() but no acTL present Error on iOS 13+. Any Idea?

[2020-07-30 01:42] imbrig opened #104 "Tag version 1.2.1 has not been released to CocoaPods, yet."
I don't know how active things are at the moment but it would be great to have 1.2.1 released for cocoapods, much appreciated.
https://github.com/CocoaPods/Specs/tree/9543734012238c33ea018af5a4381459c13f0916/Specs/0/6/4/APNGKit

Thanks!

[2020-07-30 05:25] onevcat commented on #104
1.2.2 was released with CocoaPods support.

[2020-07-30 05:25] #104 closed

[2021-02-18 10:52] sugitatestblue opened #107 "how to get FPS from APNG ?"
how to get FPS from APNG ?
I can't find how to get it.

[2021-02-19 08:32] sugitatestblue commented on #107
`CGImageSource` has some values.
I used the,
thank you

[2021-04-07 23:46] StefaniOSApps opened #108 "How to tint a APNG Image?"
I would like to tint a Image like

[code]

How can I do that with APNG?

[code]

..but it does not work

[2021-10-19 07:00] dennie-lee opened #110 "我一个200多k的apng文件，初始化播放后，内存变成好几百m，是什么问题？"

[2021-11-02 08:37] onevcat commented on #110
APNGKit 2.0 was released with huge improvement on performance and memory optimization. I am closing it for now. If the same thing happens in version 2, please consider to report again.

[2021-11-02 08:37] #110 closed

[2021-11-02 08:45] onevcat commented on #108
APNGKit v2 was just released but it still renders the content directly on layer, so this is not supported now. But it should be easy enough to support and I think it is quite useful.

Added to the to-do list for v2. Stay tuned.

[2021-11-02 08:45] #107 closed

[2021-11-02 08:45] onevcat commented on #103
v2 was released and it does not depend on libpng anymore, so this would not happen.

[2021-11-02 08:45] #103 closed

[2021-11-02 08:46] onevcat commented on #102
Not sure what is this related. I am closing it for now.

[2021-11-02 08:46] #102 closed

[2021-11-02 08:47] onevcat commented on #95
APNGKit supports Swift 5 from v1.2 and now APNGKit v2 was also released with full support for the latest tech. I am closing this.

[2021-11-02 08:47] #95 closed

[2021-11-02 08:47] onevcat commented on #99
APNGKit v2 was just released without depending on libpng anymore. So it won't happen. I am closing this.

[2021-11-02 08:47] #99 closed

[2021-11-02 08:49] onevcat commented on #94
As indicated by @uhooi this is done for now. There is a plan to also support built-in downloading and cache with the help of [another library Kingfisher](https://github.com/onevcat/Kingfisher) as a plugin. But that is another story. I am closing this for now.

[2021-11-02 08:49] #94 closed

[2021-11-02 08:50] onevcat commented on #69
This should be already resolved in a previous version. And in the latest release APNGKit v2, it is considered from the very beginning so this should not happen anymore.

If anyone finds a case, feel free to open a new issue.

[2021-11-02 08:50] #69 closed

[2021-11-02 08:52] onevcat commented on #87
I am not an expert of iMessage Sticker. Maybe you just need to download the image data from the URL first and create an `APNGImage` with these data? See #94

[2021-11-02 08:52] #87 closed

[2021-11-02 08:53] onevcat commented on #83
APNGKit v2 was just released and should fix this. (However, I am not sure if that version still supports Objective-C, I guess not). After all, APNGKit is now only targeting Swift use.

[2021-11-02 08:53] #83 closed

[2021-11-02 08:53] #78 closed

[2021-11-02 08:54] onevcat commented on #65
APNGKit v2 was just release and it contains a much better, robust implementation and it is passing all APNG spec tests now. This should not happen in the new version anymore.

[2021-11-02 08:54] #65 closed

[2021-11-02 08:54] onevcat commented on #3
APNGKit v2 was released and this is fixed!

[2021-11-02 08:54] #3 closed

[2021-11-02 08:55] onevcat commented on #32
APNGKit v2 was release and it now does not depend on libpng. So this should not happen anymore.

[2021-11-02 08:55] #32 closed

[2021-11-02 08:57] onevcat commented on #44
As indicated in #46, an `intrinsicContentSize` was added so this should be already solved.

And in the latest released APNGKit v2, it is considered from the very beginning to the layout should not break anymore.

I am closing it. If anyone finds a similar problem, please feel free to open a new one.

[2021-11-02 08:57] #44 closed

[2021-11-02 08:57] onevcat commented on #45
tvOS is now officially supported in APNGKit v2.

[2021-11-02 08:57] #45 closed

[2021-11-02 08:58] onevcat commented on #47
APNGKit v2 was released. Now loading a normal PNG will not cause a jmp but throwing a Swift error. You can then catch the error and fallback to a static version of image. Please read the guide in README file to know more.

I am closing this.

[2021-11-02 08:58] #47 closed

[2021-11-02 08:59] onevcat commented on #48
APNGKit v2 was released and this should not happen anymore.

I am closing it for now.

[2021-11-02 08:59] #48 closed

[2021-11-02 08:59] onevcat commented on #55
APNGKit v2 was released and it now does not depend on libpng anymore. So this should not happen again.

I am closing it for now.

[2021-11-02 08:59] #55 closed

[2021-11-02 09:05] onevcat commented on #56
APNGKit v2 was released with fixing of dropping GCD timer, but using back to display link.

The new version also contains other countless fixes with a rewritten from scratch. If anyone sees a similar issue, please feel free to open a new issue!

Thanks.

[2021-11-02 09:05] #56 closed

[2021-11-02 09:05] onevcat commented on #57
Carthage and Objective-C is dropped in APNGKit v2. Now it is a pure Swift project and recommended managed by SPM.

I am closing this for now.

[2021-11-02 09:05] #57 closed

[2021-11-02 14:15] TyrantBoy commented on #87
you just need open the app inside of iMessage. Hold down a stickmoji
character and drag it over a message bubble, then release it to stick.

On Tue, Nov 2, 2021 at 3:52 AM Wei Wang ***@***.***> wrote:

[2021-11-18 14:47] alexionut opened #115 "Missing PLTE before IDAT"
I have converted some gifs to apng files. But I am getting this error when I'm trying to use them:

imagePNG_error_break:445: *** ERROR: imagePNG_error_break
handle_error:269: IDAT: Missing PLTE before IDAT

What does it mean? How can I get these files to work?

[2021-11-18 14:48] onevcat commented on #115
Try to upgrade to the latest version.

[2021-11-18 14:55] alexionut commented on #115
Oh thank you, I didn't notice you released an update. I've been tackling this issue for a few days. It does work with the new version

[2021-11-18 14:55] #115 closed

[2021-11-19 00:13] onevcat commented on #115
Thanks for the feedback! 😀

[2021-12-01 04:57] duyenlv opened #116 "mouse ear gets stuck"
Hi team. I have an issue could you help?

I used APNGKit v2.0.2, it works for me with almost apng images, but I encountered an issue with
![mouse](https://user-images.githubusercontent.com/2205362/144172876-c1e7f05e-af25-460c-b367-9c4ab3914a5f.png)

https://user-images.githubusercontent.com/2205362/144172712-94f36430-1c48-42b1-9953-37d784123544.mov

I tried view this image on the Safari browser (M

[2021-12-01 05:12] duyenlv commented on #116
If I use v1.2.3, this problem is not occurred.

[2021-12-01 06:04] onevcat commented on #116
In fact I am seeing this "stuck" in the Finder preview as below:

![截屏2021-12-01 15 03 33](https://user-images.githubusercontent.com/1019875/144180607-abd287d7-f442-45c1-80be-0a2511e8ca29.png)

It is either a poorly clear flag in the APNG file, or a bug in clearing previous content. I will investigate it when I have time.

[2021-12-06 15:01] onevcat commented on #116
@duyenlv I checked the provided image and now I can say it is an image issue. I will explain it a bit better in following.

I added a frame debugging view controller in the demo app and checked the frames of this image:

![Simulator Screen Shot - iPhone 13 - 2021-12-06 at 23 51 38](https://user-images.githubusercontent.com/1019875/144867444-9db25219-517d-4658-8b93-9ec941dbe5bd.png)

The yellow are

[2021-12-10 02:16] duyenlv commented on #116
@onevcat Thanks for your explanation, I encounter this issue with Mac Finder too, I am working for client's project, they ask me a question that the problem isn't occurred while running both Web Browser (you can drag the file to the browser address bar) and Android app (use https://github.com/penfeizhou/APNG4Android), but it's occurred in iOS app (use this library).
So that I have to revert to `AP

[2021-12-10 04:58] onevcat commented on #116
First, the browser implementation for APNG is very buggy, especially for Safari. You may check this page (https://philip.html5.org/tests/apng/tests.html) with Safari to see quite a few red blocks, which indicates the failing case. Especially for the `previous` dispose op, it does not follow the APNG spec at all.

For https://github.com/penfeizhou/APNG4Android, I checked the code and it [copies the

[2022-01-24 03:31] Seonny opened #119 "Which release version do you support Swift 5 from ?"
Sorry for asking something which has nothing to do with issues.
I just saw 1.2.2: fix warnings on Swift 5 but I'm not sure this means 1.2.2 started to support Swift 5.
I'd like to ask you which version starts to support Swift 5.
Thank you.

[2022-01-24 10:19] onevcat commented on #119
Not quite sure about it myself :P. The framework itself should build in Swift 5 (or with Swift 4 compatible mode) from any of the 1.x versions and 1.2.2 just fixed some warnings.

But I personally strongly suggest you choose version 2 if it is a new integration. The new version is much more stable and well-written compared to the original one.

[2022-03-04 10:03] onevcat commented on #116
@duyenlv I guess it was my mis-understanding of the spec. A PR was made to fix this issue and I will tag it soon once merged.

Thanks for reporting it and the discussion!

[2022-03-05 13:50] #116 closed

[2022-03-07 00:58] onevcat commented on #116
Version 2.1.2 was released and this issue should be fixed.

[2022-03-07 06:50] Byounggon opened #123 "It is difficult to reuse the APNGImage data created once."
[code]

[2022-03-12 14:01] #123 closed

[2022-05-25 09:13] naijoug opened #128 "Is it possible to add log print property?"
![image](https://user-images.githubusercontent.com/5566978/170226763-468aefc2-2680-4636-833f-15388e0410f0.png)

![image](https://user-images.githubusercontent.com/5566978/170226271-ee5ac9f0-2ea4-4495-9827-742e76d58d34.png)

If the APNG image missed frame, the log  will always print. It overwrite other debug log.

[2022-05-26 14:09] onevcat commented on #128
Oh. That is quite surprising it keeps missing frames. Instead of only adding the debug log flag, can you also share me the APNG file causing the problem, then I can try to check and see how can I improve this. (And if it is possible also let me know the type of your test device. Thank you!)

[2022-05-26 14:57] naijoug commented on #128
Thanks for your reply!

- File : [heart.zip](https://github.com/onevcat/APNGKit/files/8779802/heart.zip)
- Device : iPhoneX
- iOS Version : 15.4.1

[2022-05-30 00:28] onevcat commented on #128
`LogLevel` was added in #129 and will be released soon as the next minor version. At the same time you can temporarily use the `master` branch to have this change for now.

[2022-05-30 00:28] #128 closed

[2022-11-28 08:56] ZeroJian opened #130 "Animation get too fast when end scroll"
APNGKit (2.2.1)
Xcode (14.0.1)
Simulator (iPhone 12 14.2)

I want to animation stop when scrolling, so i set
APNGImageView runLoopMode = .default

is work, but when end scroll, animation get too fast